// 回到顶部的滚动动画
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #606266;
}

a {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: #23527c;
        text-decoration: underline;
    }
}

// 有頁脚時，增加頁面的底邊距保證内容顯示效果
.with-footer {
    padding-bottom: 30px;
}

// 确认消息框样式
.el-message-box {
    .el-message-box__header {
        padding: 0;
    }
    .el-message-box__errormsg {
        min-height: 0;
    }
}

.el-notification.right {
    .el-notification__content {
        line-height: 24px;
        margin: 0;
    }
}
